body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #063990, #04224f);
    user-select: none;

}
.form-container {
    background-color: #fff;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.logo {
    margin-bottom: 15px;
}
input {
    display: block;
    width: calc(100% - 16px);
    margin: 8px auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}
button {
    flex: 1;
    padding: 8px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #357ae8;
}

.form-container img {
    width: 150px;
    user-select: none;
} 

.erroLogin, .erroNulo{
    font-size: 12px;
    background-color: rgb(225, 84, 84);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
    padding: 2px;
    display: none;
    justify-content: center;
    align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


